body{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100svh;
    color: white;
}
.grandparent{
    perspective: 1000px;
}
.parent{
    height: 150px;
    width: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s linear;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.front{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 250px;
    background: linear-gradient(to right bottom,rgb(219, 247, 2),rgb(13, 207, 81));
    border-radius: 5px;
    backface-visibility: hidden;
}
.back{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 250px;
    background: linear-gradient(to right bottom,lightblue,blue);
    border-radius: 5px;
    transform: rotateY(180deg);
    backface-visibility: hidden;

    
}
.parent:hover{
    transform: rotateY(180deg);
}